
@media screen and (max-width: 1999px){
	body {
		margin: 0px;
		font-family: 'Segoe UI Light';
	}
	#btns{
		cursor: pointer;
	}
	#hoverHow:hover{
		padding: 1px;
		opacity: .7;
		background: #ffff99;
		border-radius: 4px;
		margin-top: -1%;
		margin-left: -.5%;
	}
	#hoverQuit:hover{
		padding: 1px;
		opacity: .7;
		background: #ffff99;
		border-radius: 4px;
		margin-top: -1%;
		margin-left: -.5%;
	}
	#hoverReset:hover{
		padding: 1px;
		opacity: .7;
		background: #ffff99;
		border-radius: 4px;
		margin-top: -1%;
		margin-left: -.5%;
	}
	#black{
		position: absolute;
		background: black;
		height: 100%;
		width: 100%;
		z-index: 20;
		opacity: .7;
	}

	#nav {
		background: #333738;
		float: left;
		width: 20%;
		height: 100%;
		position: absolute;
	}

	#blackbg{
		height: 100%;
		width: 100%;
		background-color: black;
		position: absolute;
		z-index: 9;
		opacity: .7;
		visibility: hidden;
	}

	#togglebtn{
		visibility: hidden;
	}
	#toggle{
		visibility: hidden;
	}

	#status{
		background: #ffff99;
		width: 480px;
		height: 10%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px; 
		position: absolute;
		top: 0;
		left: 28%; 
		box-shadow: 0 5px 15px black;
	}
	.symbols{
		float: left;
		height: auto;
		width: 30%;
		font-size: 30px;
		font-family: 'Segoe UI Semibold';
	}
	#time-number{
		position: absolute;
		left: 5%;
		top: 15%;
	}
	#flip-number{
		position: absolute;
		left: 41%;
		top: 15%;
	}
	#matched-number{
		position: absolute;
		left: 73%;
		top: 15%;
	}

	#btn-time{
		width: 25%; 
	}
	#btn-flip{
		width: 40px;
	}
	#btn-matched{
		width: 43px;
	}

	#btn-time-num{
		margin-left: 12%;
	}
	#btn-flip-num{
		margin-left: 13%;
	}
	#btn-matched-num{
		margin-left: 12%;
	}




	#container{
		background: #0A8C8A; 
		float: left;
		width: 80%;
		left: 20%;
		position: absolute;
		height: 100%;
	}
	#black{
		visibility: hidden;
	}
	#instruction{
		visibility: hidden;
		z-index: 20;
		position: absolute;
		width: 35%;
		height: auto;
		top: 30%;
		left: 32%;
	}
	.changebox{
		width: 21%;
		height: 40px;
		margin: 4%;
		float: left;
		box-shadow: -2px 2px 15px black;
		border-radius: 3px;
		cursor: pointer;
	}
	.changebox:hover{
		opacity: .7;	
	}
	#themeChange{
		top: 62%;
		left: 7%;
		position: relative;
	}
	#gamePlay{
		background: #469198;
		width: 94%;
		height: 80%;
		left: 3%;
		top: 4%;
		position: relative;
		border-radius: 10px;
	}
	#quitBox{
		position: absolute;
		top: 30%;
		left: 35%;
		visibility: hidden;
		z-index: 20;
	}
	#quitBlack{
		background: black;
		opacity: .7;
		width: 100%;
		height: 100%;
		position: absolute;
		visibility: hidden;
		z-index: 20;
	}
	#sureQuit{
		width: 50%;
		height: auto;
	}
	#quitCancel{
		position: absolute;
		width: 18%;
		height: auto;
		margin: 2% 1%;
		margin-left: 5.5%;
	}
	
	#quitCancel:hover{
		width: 19%;
		margin-left: 5%;
		margin-top: 1.7%;
	}
	#quitOkay{
		position: absolute;
		width: 18%;
		height: auto;
		margin: 2% 1%;
		margin-left: 26%;
	}
	#quitOkay:hover{
		width: 19%;
		margin-left: 25.5%;
		margin-top: 1.7%;
	}
	#resetBox{
		position: absolute;
		top: 30%;
		left: 35%;
		visibility: hidden;
		z-index: 20;
	}
	#resetBlack{
		background: black;
		opacity: .7;
		width: 100%;
		height: 100%;
		position: absolute;
		visibility: hidden;
		z-index: 20;
	}
	#sureReset{
		width: 50%;
		height: auto;
	}
	#resetCancel{
		position: absolute;
		width: 18%;
		height: auto;
		margin: 2% 1%;
		margin-left: 5.5%;
	}
	#resetCancel:hover{
		width: 19%;
		margin-left: 5%;
		margin-top: 1.7%;
	}
	#resetOkay{
		position: absolute;
		width: 18%;
		height: auto;
		margin: 2% 1%;
		margin-left: 26%;
	}
	#resetOkay:hover{
		width: 19%;
		margin-left: 25.5%;
		margin-top: 1.7%;
	}








}
@media screen and (max-width: 1200px){
	#status{
		left: 26%;
	}
}
@media screen and (max-width: 1100px){
	#status{
		left: 23%;
	}
}
@media screen and (max-width: 1000px){
	#status{
		left: 19%;
	}
}
@media screen and (max-width: 900px){
	#status{
		left: 16%;
	}
}
@media screen and (max-width: 800px){
	#status{
		left: 13%;
	}
}

@media screen and (max-width: 768px){
	#sureQuit{
		width: 90%;
	}
	#quitCancel{
		position: absolute;
		width: 30%;
		margin: 5% 3%;
		margin-left: 11%;
	}
	#quitOkay{
		position: absolute;
		width: 30%;
		height: auto;
		margin: 5% 3%;
		margin-left: 48.5%;
	}
	#quitCancel:hover{
		position: absolute;
		width: 30%;
		margin: 5% 3%;
		margin-left: 11%;
	}
	#quitOkay:hover{
		position: absolute;
		width: 30%;
		height: auto;
		margin: 5% 3%;
		margin-left: 48.5%;
	}
	#quitBox{
		top: 28%;
		left: 10%;
	}
	#sureReset{
		width: 90%;
	}
	#resetCancel{
		position: absolute;
		width: 30%;
		margin: 5% 3%;
		margin-left: 11%;
	}
	#resetOkay{
		position: absolute;
		width: 30%;
		height: auto;
		margin: 5% 3%;
		margin-left: 48.5%;
	}
	#resetCancel:hover{
		position: absolute;
		width: 30%;
		margin: 5% 3%;
		margin-left: 11%;
	}
	#resetOkay:hover{
		position: absolute;
		width: 30%;
		height: auto;
		margin: 5% 3%;
		margin-left: 48.5%;
	}
	#resetBox{
		top: 28%;
		left: 10%;
	}


	#gamePlay{
		width: 90%;
		height: 88%;
		left: 5%;
		top: 3%;
	}
	#status{
		background: #ffff99;
		width: 70%;
		height: 6%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 0; 
		position: absolute;
		left: 30%; 
		box-shadow: 0 5px 15px black;
	}
	.symbols{
		font-size: 20px;
	}

	#time-number{
		position: absolute;
		left: 5%;
		top: 15%;
	}
	#flip-number{
		position: absolute;
		left: 41%;
		top: 15%;
	}
	#matched-number{
		position: absolute;
		left: 73%;
		top: 15%;
	}

	#btn-time{
		width: 18%; 
	}
	#btn-flip{
		width: 24px;
	}
	#btn-matched{
		width: 26px;
	}

	#btn-time-num{
		margin-top: -2%;
		margin-left: 10%;
	}
	#btn-flip-num{
		margin-left: 15%;
		margin-top: -3%;
	}
	#btn-matched-num{
		margin-left: 12%;
		margin-top: -3%;
	}

	#toggle{
		width: 15%;
		height: 6%;
		background: #ffff99;
		border-bottom-right-radius: 10px; 
		box-shadow: 0 5px 15px black;
		visibility: visible;
	}
	#togglebtn{
		visibility: visible;
		position: absolute;
		top: 1%;
		left: 4%;
		width: 25px	;
		height: 18px;
	}

	#nav {
		width: 240px;
		z-index: 10;
		margin-left: -240px;
	}
	#aboutus{
		font-size: 8px;
	}
	#container{
		height: 100%;
		width: 100%;
		left: 0;
		float: left;
	}
	#instruction{
		width: 80%;
		height: auto;
		top: 28%;
		left: 10%;
	}
	.card{
		width: 20%;
		height: auto;
	}
}


