
@media screen and (max-width: 1999px){
	body {
		margin: 0px;
		font-family: 'Segoe UI Light';
	}
	#btns{
		cursor: pointer;
	}
	#black{
		position: absolute;
		background: black;
		height: 100%;
		width: 100%;
		z-index: 20;
		opacity: .6;
	}

	#nav {
		background: #333738;
		float: left;
		width: 20%;
		height: 100%;
		position: absolute;
	}

	#blackbg{
		height: 100%;
		width: 100%;
		background-color: black;
		position: absolute;
		z-index: 9;
		opacity: .6;
		visibility: hidden;
	}

	#togglebtn{
		visibility: hidden;
	}

	#status{
		background: #ffff99;
		width: 480px;
		height: 10%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px; 
		position: absolute;
		top: 0;
		left: 28%; 
		box-shadow: 0 5px 15px black;
	}
	.symbols{
		float: left;
		height: auto;
		width: 30%;
		font-size: 30px;
		font-family: 'Segoe UI Semibold';
	}
	#time-number{
		position: absolute;
		left: 5%;
		top: 15%;
	}
	#flip-number{
		position: absolute;
		left: 41%;
		top: 15%;
	}
	#matched-number{
		position: absolute;
		left: 73%;
		top: 15%;
	}

	#btn-time{
		width: 25%; 
	}
	#btn-flip{
		width: 40px;
	}
	#btn-matched{
		width: 43px;
	}

	#btn-time-num{
		margin-left: 12%;
	}
	#btn-flip-num{
		margin-left: 13%;
	}
	#btn-matched-num{
		margin-left: 12%;
	}




	#container{
		background: #0A8C8A; 
		float: left;
		width: 80%;
		left: 20%;
		position: absolute;
		height: 100%;
	}
	#black{
		visibility: hidden;
	}
	#instruction{
		visibility: hidden;
		z-index: 20;
		position: absolute;
		width: 35%;
		height: auto;
		top: 30%;
		left: 32%;
	}
	.changebox{
		width: 21%;
		height: 40px;
		margin: 4%;
		float: left;
		box-shadow: -2px 2px 15px black;
		border-radius: 3px;
		cursor: pointer;
	}
	#themeChange{
		top: 62%;
		left: 7%;
		position: relative;
	}
	#gamePlay{
		background: #469198;
		width: 94%;
		height: 80%;
		left: 3%;
		top: 4%;
		position: relative;
		border-radius: 10px;
	}

}
@media screen and (max-width: 1200px){
	#status{
		left: 26%;
	}
}
@media screen and (max-width: 1100px){
	#status{
		left: 23%;
	}
}
@media screen and (max-width: 1000px){
	#status{
		left: 19%;
	}
}
@media screen and (max-width: 900px){
	#status{
		left: 16%;
	}
}
@media screen and (max-width: 800px){
	#status{
		left: 13%;
	}
}

@media screen and (max-width: 768px){
	#gamePlay{
		width: 90%;
		height: 86%;
		left: 5%;
		top: 4%;
	}
	#status{
		background: #ffff99;
		width: 70%;
		height: 6%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 0; 
		position: absolute;
		left: 30%; 
		box-shadow: 0 5px 15px black;
	}
	.symbols{
		font-size: 20px;
	}

	#time-number{
		position: absolute;
		left: 5%;
		top: 15%;
	}
	#flip-number{
		position: absolute;
		left: 41%;
		top: 15%;
	}
	#matched-number{
		position: absolute;
		left: 73%;
		top: 15%;
	}

	#btn-time{
		width: 18%; 
	}
	#btn-flip{
		width: 24px;
	}
	#btn-matched{
		width: 26px;
	}

	#btn-time-num{
		margin-top: -2%;
		margin-left: 10%;
	}
	#btn-flip-num{
		margin-left: 15%;
		margin-top: -3%;
	}
	#btn-matched-num{
		margin-left: 12%;
		margin-top: -3%;
	}

	#toggle{
		width: 15%;
		height: 6%;
		background: #ffff99;
		border-bottom-right-radius: 10px; 
		box-shadow: 0 5px 15px black;
	}
	#togglebtn{
		visibility: visible;
		position: absolute;
		top: 1%;
		left: 4%;
		width: 25px	;
		height: 18px;
	}

	#nav {
		width: 240px;
		z-index: 10;
		margin-left: -240px;
	}
	#aboutus{
		font-size: 8px;
	}
	#container{
		height: 100%;
		width: 100%;
		left: 0;
		float: left;
	}
	#instruction{
		width: 80%;
		height: auto;
		top: 40%;
		left: 10%;
	}
	.card{
		width: 20%;
		height: auto;
	}
}


